{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title class="title-name">Rohan Shetty</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
    </head>

    <body class="hero">
        
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Rohan Shetty</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li class="nav-item text-black">    
                            <a class="nav-link text-black font-weight-bold" href="{% url 'project' %}">Projects</a>
                        </li>
                        <li class="nav-item text-black">    
                            <a class="nav-link text-black font-weight-bold" href="{% url 'pow' %}">PoW</a>
                        </li>
                        <li class="nav-item text-black">
                            <a class="nav-link text-black font-weight-bold" href="{% url 'meme' %}">Memes</a>
                        </li>   
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content-block">
        {% block content %}
        {% endblock content %}
        </div>

       
        <footer class="page-footer font-small blue">
            <div class>
                
            </div>

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">No Copyright © Rohan Shetty:
                <a href="#"><img id="logo" width="40" height="40" src="{% static 'blog/assets/reddit.png' %}"><a>
                    <a href="#"><img id="logo" width="40" height="40" src="{% static 'blog/assets/github.png' %}"><a>
                    <a href="#"><img id="logo" width="40" height="40" src="{% static 'blog/assets/linkedin.png' %}"><a>
                    <a href="#"><img id="logo" width="40" height="40" src="{% static 'blog/assets/twitterlogo.png' %}"><a>
            </div>
            <!-- Copyright -->
          
          </footer>
        

            
    </body>
</html>
