{% extends 'blog/base.html'%} {%block content%}
<div class="container ">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-8 left top home-container-body">
      <div class="card-body ">
        Hey there, I'm Rohan &#128406; 
      </div>
      <ul class="point-list">
        <li>
            Based out of Bangalore, South Bangalore to be precise.
          </li>
          <li>
            I work as a SDE-1 at Machani Robotics
          </li>
          <li>
            So here's where I rant about Tech, Football, F1 you can find those here.
          </li>
          <li>
           Here's my Proof of Work(PoW)
          </li>
          <li>
            Aspiring Memer turned into SDE-1, you can find my memes here.
          </li>
    
      </ul>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
{%endblock%}
